.main{
  margin-right: 300px;
}

.main h1{
  margin-left: 20px;
}

.person {
  height: 300px;
  width: 100%;
  margin-left: 20px;
}

.person img{
  height: 200px;
  width: 200px;
  border-radius: 100px;
  display: inline-block;
}

.person .image{
  display: inline-block;
}

.person .details{
  display: inline-block;
  padding: 20px;
}

.sidenav{
  width: 300px;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background: #e1e5ed
}
.sidenav h2{
  font-size: 26px;
}
.sidenav li{
  font-size: 24px;
  list-style: none;
  padding: 30px
}
.data{
  height: 500px;
  width: 100%;
  background: blue
}

.data .column{
  float: left;
  width: 33.33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


a:link {
  color:#000;
  text-decoration: none;
}
a:visited {
  color:#000;
}
a:hover {
  color:#33F;
}
.button {
  background: -webkit-linear-gradient(top,#008dfd 0,#0370ea 100%);
  border: 1px solid #076bd2;
  border-radius: 3px;
  color: #fff;
  display: none;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.3;
  padding: 8px 25px;
  text-align: center;
  text-shadow: 1px 1px 1px #076bd2;
  letter-spacing: normal;
}
.center {
  padding: 10px;
  text-align: center;
}
.final {
  color: black;
  padding-right: 3px;
}
.interim {
  color: gray;
}
.info {
  font-size: 14px;
  text-align: center;
  color: #777;
  display: none;
}
.right {
  float: right;
}
.sidebyside {
  display: inline-block;
  width: 45%;
  min-height: 40px;
  text-align: left;
  vertical-align: top;
}
#headline {
  font-size: 40px;
  font-weight: 300;
}
#info {
  font-size: 20px;
  text-align: center;
  color: #777;
  visibility: hidden;
}
#results {
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #ddd;
  padding: 15px;
  text-align: left;
  min-height: 150px;
  -webkit-user-select: auto;
}
#start_button {
  border: 0;
  background-color:transparent;
  padding: 0;
}
